@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    header {
        background-image: url(../images/image-hero-mobile.jpg);
        padding: 4em 2em;
        height: 45vh;
    }
    header .flex-mobile {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        width: 100%;
    }
    header .flex-mobile :nth-child(2) { display: block; }
    header .burger, header .closeNav {
        color: white;
        padding: 8px;
    }
    header .closeNav { display: none }
    header .display-none { display: none; }
    header ul {
        display: block;
        width: 90%;
        height: 70%;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        left: 5%;
        right: 5%;
        top: 7em;
        padding: 5%;
    }
    header ul li {
        padding: 5%;
    }
    header ul li a {
        color: #000;
        font-size: 24px;
    }
    .container {
        width: 90%;
        left: 5%;
        right: 5%;
        top: 35vh;
    }
    .main .bookmarkButtons {
        padding: auto;
        justify-content: center;
    }
    .main .bookmarkButtons a span { display:none; }
    .main .bookmarkButtons button {
        padding:5px 15px;
        margin: 0 0.5em;
    }
    .main .statistics {
        display: block;
    }
    .main .statistics > div {
        width: fit-content;
        margin: 5em auto 2em auto;
        text-align: center;
    }
    .main .statistics div > h1 { font-size: 36px; }
    .about .stand-layout { display:inline-block }
    .about .stand-layout > button {
        width: unset;
        margin: 1em 0;
    }

    .bg-modal .modal {
        width: 90%;
        padding: 1.5em;
        margin: 8em auto;
    }
    .modal > div {
        padding: 1em 2em;
        margin: 1em 0;
    }
    .modal .pledge > div,
    .modal .pledge-amount,
    .modal .pledge > div a { display: block; }
    .modal .pledge > div :nth-child(1){ margin: 2px 0; }
    .modal .pledge > div :nth-child(2){ padding: 2px 0; }
    .modal .pledge > div :nth-child(3){ padding: 2px 0; }
    .modal .pledge > div :nth-child(4){ padding: 2px 0; }

    .success-message {
        width: 90%;
    }
}