* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Commissioner', sans-serif;
    scroll-behavior: smooth;
}
header {
    position: fixed;
    display: flex;
    width: 100%;
    background-image: url(../images/image-hero-desktop.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    min-height: 400px;
    padding: 3em 5em;
}

header  :nth-child(1){ margin-right: auto; }
header ul {
    display: flex;
}
header ul li {
    list-style-type: none;
    padding-left: 2em;
}
header ul li a {
    text-decoration: none;
    color: #fff;
}
header .flex-mobile :nth-child(2) { display: none; }
header .flex-mobile :nth-child(3) { display: none; }
buttton:active { background-color: hsl(176, 72%, 28%); }

.container {
    background-color: #F0FFF0;
    width: 55%;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 50vh;
    left: 22.5%;
    right: 22.5%;
}
.container .mastercraftImg {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
    top: -2em;
}
.container > div {
    width: 90%;
    margin: 0 auto 5em auto;
}

.main .heading,
.main p  {
    text-align: center;
    margin: 0.5em 0;
}
.heading { font-size: 28px; }
.main p { color: hsl(0, 2%, 37%); }
.main .bookmarkButtons {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 4em 0;
}
.main .bookmarkButtons img { width: 45px; height: 45px; }
.main .bookmarkButtons button {
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    background-color: hsl(176, 50%, 47%);
    border: none;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.main .bookmarkButtons a {
    color: hsl(0, 0%, 48%);
    background-color:#F5F5F5;
    text-decoration: none;
    border-radius: 50px;
}
.main .bookmarkButtons a span {
    width: fit-content;
    display: inline-block;
    margin: 0 1em;
    font-weight: bold;
}
.main .statistics {
    display: flex;
    justify-content: space-between;
}
.main .statistics span { color: hsl(0, 2%, 37%); }
.main .progress-bar {
    width: 100%;
    background-color: hsl(0, 9%, 86%);
    margin: 2em auto;
    border-radius: 5px;
    /* position: relative; */
}
.main .progress-bar .progress-value {
    width: 60%;
    padding: 5px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 5px;
}
.about p {
    color: hsl(0, 2%, 37%);
    margin: 2em 0;
}
.about > div{
    width: 100%;
    border: 1px solid hsl(0, 5%, 80%);
    border-radius: 10px;
    margin: 2em 0;
    padding: 2em;
}
.about > div a {
    color: hsl(176, 50%, 47%);
    text-decoration: none;
}
.about .stand-layout {
    display: flex;
    justify-content: space-between;
}
.about .stand-layout > div { display: flex; }
.about .stand-layout > div span { margin: 0.2em 1em; }
.about .stand-layout > div h1 { font-size: 36px; }
.about .stand-layout > button {
    background-color: hsl(176, 50%, 47%);
    width: 30%;
    color: #fff;
    border: none;
    padding: 1em;
    font-weight: bold;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}
.about .mahagony-edition {
    opacity: 0.7;
}
.about .mahagony-edition h3, .about .mahagony-edition h1 {
    color: hsl(0, 2%, 49%);
}
.about .mahagony-edition button {
    background-color: hsl(0, 2%, 45%);
}
.bg-modal {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    height: fit-content;
    background-color: rgba(0, 0, 0, 50%);
}
.bg-modal .modal {
    background-color: #fff;
    width: 55%;
    margin: 10em auto;
    padding: 4em;
    border-radius: 10px;
}
.close-btn span {
    font-size: 24px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
.modal h1 {
    clear: both;
    font-size: 24px;
}
.modal p { color: hsl(0, 2%, 37%); margin: 1em 0; }
.modal h2 { font-size: 18px; }
.modal > div {
    position: relative;
    border: 1px solid hsl(0, 5%, 80%);
    border-radius: 10px;
    padding: 2em 3em;
    margin: 2em 0;
    cursor: pointer;
}
.modal .active {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: hsl(176, 50%, 47%);
    position: absolute;
    left: 1em;
}
.modal .pledge > div {
    display: flex;
    justify-content: flex-end;
}
.modal .pledge > div a {
    color: hsl(176, 50%, 47%);
    text-decoration: none;
}
.modal .pledge-amount {
    display: flex;
    justify-content: flex-end;
}
.modal .pledge-amount :nth-child(1){
    margin-right: auto;
}
.modal .pledge-amount button,
.modal .pledge-amount input {
    width: 35%;
    padding: 1em;
    margin: 0 0 0 1em;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}
.modal .pledge-amount button { background-color: hsl(176, 50%, 47%); color: #fff; }
.modal .pledge-amount input { border: 1.5px solid hsl(176, 50%, 47%); color: #000; }
.modal .pledge > div h2 { display: inline-block; }
.modal .pledge > div div { display: inline-block; }

.modal .pledge > div :nth-child(1){ margin-right: auto; }
.modal .pledge > div :nth-child(2){ padding-left: auto; }
.modal .pledge > div :nth-child(3){ padding-left: 2em; }
.modal .pledge > div :nth-child(4){ padding-left: 2em; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  opacity: 1;
}
.modal .last-child {
    opacity: 0.6;
}

.pledge-successful {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 5;
}
.success-message {
    text-align: center;
    height: auto;
    width: 40%;
    padding: 3em 1.5em;
    background-color: #fff;
    border-radius: 15px;
    margin: 4em auto;
}
.closeSuccess {
    font-size: 24px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
.success-message img {
    clear: both;
    display: block;
    margin: 1em auto;
}
.success-message h2 {
    margin: 1em 0;
}
.success-message p {
    margin: 1em 0;
    color: hsl(0, 2%, 37%); margin: 1em 0;
}
.success-message button {
    margin: 1em 0;
    background-color: hsl(176, 50%, 47%);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 1em 2em;
    font-size: 18px;
    border-radius: 30px;
}